.productos__contenedor-interno{
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 45vw);
    gap: 0.5rem;
    margin: auto;
}
.menuEditar{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 5px;
}
.menuEditar img:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.item__img{width: 8rem; margin: auto;}

.item__img__descripcion{
    margin: 0;
}
.item__img__precio{
    margin: 0;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
}

.contenedor_producto div:last-child{
       display: flex;
       flex-direction: column;
        justify-content: space-between;
}
.contenedor_producto{
    font-size: smaller;
    height: 25rem;
    display: grid;
    grid-template-rows: 10% 40% 50%;
    box-shadow:0 0 4px 1px #2A7AE4;
    
    padding: 0.5rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    color: #2A7AE4;



}

@media (min-width:510px) {

    
    .productos__contenedor-interno{
    
        grid-template-columns: repeat(3, 10rem);
        font-size: large;
        gap: 1rem;
    }
    .contenedor_producto{
        height: 26rem;   
    }

            
    }

@media (min-width:760px) {

        
    .productos__contenedor-interno{
    
        grid-template-columns: repeat(4, 19.5vw);

        gap: 1rem;
    }
    .item__img{width: 8rem;}
   
}
@media (min-width:1000px) {

        
    .productos__contenedor-interno{
    
        grid-template-columns: repeat(5, 16.2vw);
    }
    .item__img{
        width: 11vw;
        margin: auto;
    }
   
}
@media (min-width:1500px) {

        
    .productos__contenedor-interno{
    
        grid-template-columns: repeat(6, 1fr);
        gap: 2rem;
        font-size: large;

    }
    .contenedor_producto{
        height: 29rem;   
    }
    .item__img{
        width: 9vw;
        margin: auto;
    }
   
}